<div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <!-- Left Section: Articles -->
          <div class="col-lg-4 col-md-6 item">
            <div class="box dark-box">
              <h2>Popular Mental Health Articles</h2>
              <p>
                After your mental health test, you will see information, resources, and tools to help you understand and improve your mental health.
              </p>
            </div>
          </div>
  
          <!-- Middle Section: About Company -->
          <div class="col-lg-4 col-md-6 item text">
            <h3>{{ companyName }}</h3>
            <p>{{ companyDescription }}</p>
          </div>
  
          <!-- Right Section: Social Media Icons -->
          <div class="col-lg-4 col-md-12 item social">
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
  
        <hr>
  
        <!-- Copyright Section -->
        <p class="copyright">{{ companyName }} © {{ currentYear }}</p>
      </div>
    </footer>
  </div>
  